# .gitignore

## c programing
c/**/a.out
c/**/hello
c/**/*.o
c/**/test

## java
java/*.class

## scala
scala/**/project
scala/**/tagretcd

## maven
maven/target

## nodejs
node/**/node_modules
node/**/package-lock.json

## python
python/**/.venv
python/**/__pycache__/

##m mongodb
mongodb/*.json
mongodb/**/*.json